<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZJLAdvertiseViewSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAFFB1711D1B30E200E1C639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFFB1851D1B30E200E1C639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFFB1901D1B30E200E1C639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
